<app-card [title]="'Stav audit logu'" [icon]="'fas fa-clipboard-list'" [size]="'md'">
    <app-loading *ngIf="!data"></app-loading>

    <table *ngIf="data" class="table table-sm table-bordered table-striped auto-column-width">
        <thead>
            <tr>
                <th>Typ</th>
                <th>Počet</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.key}}</td>
                <td>{{item.value.toLocaleString()}}</td>
            </tr>
        </tbody>
    </table>
</app-card>
