<app-card [header]="false">
    <p class="fw-bold d-inline me-3">Základní informace</p>

    <app-loading *ngIf="loading; else view"></app-loading>
    <ng-template #view>
        <span class="badge bg-secondary me-1" *ngIf="data.isDevelopment">Development</span>
        <span class="badge bg-success original me-1" *ngIf="!data.isDevelopment">Production</span>
        <span class="badge bg-{{connectionColor}} original me-1">{{connectionText}}</span>
        <span class="badge bg-danger original cursor-ptr text-decoration-underline" *ngIf="!data.isActive"
            (click)="toggleState(true)">Neaktivní</span>
        <span class="badge bg-success original cursor-ptr text-decoration-underline" *ngIf="data.isActive"
            (click)="toggleState(false)">Aktivní</span>

        <div class="row mt-1">
            <div keyValueItem class="col-md" [key]="'Čas na serveru'" [value]="data.currentDateTime.binding"></div>
            <div keyValueItem class="col-md" [key]="'Bot spuštěn'" [value]="data.startAt.binding"></div>
            <div keyValueItem class="col-md" [key]="'Uptime'" [value]="data.uptime | timeDuration"></div>
            <div keyValueItem class="col-md" [key]="'Aktivní čas'" [value]="data.cpuTime | timeDuration"></div>
            <div keyValueItem class="col-md" [key]="'Využitá paměť'" [value]="data.usedMemory | filesize"></div>
        </div>
    </ng-template>
</app-card>
