table {
    & tr {
        & th {
            &.sortable {
                cursor: pointer;

                &.sort-desc,
                &.sort-asc {
                    &:after {
                        float: right;
                    }
                }

                &.sort-desc:after {
                    content: "▼";
                }

                &.sort-asc:after {
                    content: "▲";
                }
            }
        }

        & td,
        & th {
            &.auto-width {
                width: 1%;
                white-space: nowrap;
                padding-right: 10px;
            }
        }
    }
}

app-data-list {
    & table {
        &.clickable {
            & tr:hover td {
                background-color: lighten(lightskyblue, 20%);
            }
        }

        & tr {
            & td {
                &.badge-list {
                    & span:not(:last-child) {
                        margin-right: 5px;
                    }
                }

                &:not(.badge-list) {
                    & .badge {
                        font-size: 0.6em;
                    }
                }

                & list-button {
                    margin-right: 5px;
                }
            }
        }
    }
}
