<app-card [header]="false">
    <p class="fw-bold">
        <ng-container *ngIf="isPublic">Veřejné API</ng-container>
        <ng-container *ngIf="!isPublic">Privátní API</ng-container>
    </p>

    <app-loading *ngIf="loading; else view"></app-loading>
    <ng-template #view>
        <span class="text-danger" *ngIf="!items">
            <i class="fas fa-exclamation-triangle me-1"></i> Nezdařilo se načíst poslední volání API.
        </span>

        <ng-container *ngIf="items">
            <div *ngFor="let item of items" class="d-flex justify-content-between border-bottom"
                [class.text-danger]="item.statusCode != '200 (OK)'" [class.text-warning]="item.duration >= 1000">
                <b>{{item.endpoint}}</b>
                <span>{{item.statusCode}}, {{item.duration}} ms</span>
            </div>
        </ng-container>
    </ng-template>
</app-card>
