<app-card [header]="false" [classes]="['mb-3']">
    <h5>API požadavek</h5>

    <form [formGroup]="form">
        <div class="row">
            <div class="col-3 d-flex align-items-center">Název kontroleru</div>

            <div class="col">
                <input type="text" placeholder="Název controlleru" class="form-control" formControlName="controllerName" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3 d-flex align-items-center">Název akce</div>

            <div class="col">
                <input type="text" placeholder="Název akce" class="form-control" formControlName="actionName" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3 d-flex align-items-center">Šablona cesty</div>

            <div class="col">
                <input type="text" placeholder="Šablona cesty (např.: /api/users/{id})" class="form-control" formControlName="pathTemplate" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3 d-flex align-items-center">Doba trvání (ms)</div>

            <div class="col">
                <input type="number" min="0" placeholder="Od" class="form-control" formControlName="durationFrom" />
            </div>

            <div class="col">
                <input type="number" placeholder="Do" class="form-control" formControlName="durationTo" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3 d-flex align-items-center">HTTP metoda</div>

            <div class="col">
                <app-select [items]="httpMethods" formControlName="method"></app-select>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3 d-flex align-items-center">Role přihlášeného uživatele</div>

            <div class="col">
                <app-select [items]="userRoles" formControlName="loggedUserRole"></app-select>
            </div>
        </div>
    </form>
</app-card>
