pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

table {
    & tr {
        & td:first-child,
        & th:first-child {
            width: 1%;
            white-space: nowrap;
            padding-right: 10px;
        }

        & pre {
            margin-bottom: 0px;
        }

        & td code {
            white-space: pre-wrap;
            word-break: break-all;
        }
    }
}
