<app-navigation [navigation]="navigation"></app-navigation>

<div class=" row ms-0 me-0 mt-3">
    <div class="col">
        <app-card [title]="'Diagnostika'" [icon]="'fas fa-network-wired'">
            <app-loading *ngIf="!data"></app-loading>

            <ng-container *ngIf="data">
                <div class="row">
                    <div keyValueItem class="col-2" [key]="'Instance'" [value]="data.instanceType"></div>
                    <div keyValueItem class="col-2" [key]="'Start v'" [value]="data.startAt.toLocaleString()"></div>
                    <div keyValueItem class="col-2" [key]="'Uptime'" [value]="data.uptime"></div>
                    <div keyValueItem class="col-2" [key]="'Aktivní čas'" [value]="data.cpuTime"></div>
                    <div keyValueItem class="col-2" [key]="'Odezva'" [value]="data.latency"></div>
                    <div keyValueItem class="col-2" [key]="'Stav připojení'" [value]="data.formattedConnectionState"></div>
                </div>

                <div class="row mt-3">
                    <div keyValueItem class="col-2" [key]="'Využito paměti'" value="{{data.usedMemory | filesize}}"></div>
                    <div keyValueItem class="col-2" [key]="'Serverový čas'" [value]="data.currentDateTime.binding"></div>
                    <div keyValueItem class="col-2" [key]="'Stav bota'" [value]="(data.isActive ? 'Aktivní' : 'Neaktivní')"></div>
                    <div class="col d-flex align-items-end">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-success" [disabled]="data.isActive" (click)="toggleState(true)">Aktivní</button>
                            <button class="btn btn-sm btn-danger" [disabled]="!data.isActive"
                                (click)="toggleState(false)">Neaktivní</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </app-card>
    </div>
</div>

<div class="row ms-0 me-0 mt-3 mb-3">
    <div class="col">
        <app-database></app-database>
    </div>

    <div class="col">
        <app-audit-log-stats></app-audit-log-stats>
    </div>
</div>
