<div class="d-flex justify-content-center mt-2">
    <app-loading *ngIf="!data"></app-loading>
</div>

<ng-container *ngIf="data">
    <div class="row ml-0 mr-0" *ngIf="!data.isConnected">
        <div class="col">
            <p class="alert alert-warning">
                Server {{data.name}} byl nalezen v databázi, ale nelze o něm zobrazit detailní informace, protože není připojen na
                server.<br>
                <a routerLink="/admin/servers" class="btn btn-link p-0">
                    <i class="fas fa-arrow-left"></i>
                    Zpět na seznam serverů
                </a>
            </p>
        </div>
    </div>

    <div class="row ml-0 mr-0" *ngIf="data.isConnected">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xl-2 mb-3">
            <app-card [header]="false">
                <div class="d-flex justify-content-center server-pfp">
                    <img width="150" height="150" [src]="data.iconUrl" [alt]="data.name" class="rounded-circle border" />
                </div>

                <div keyValueItem class="border-bottom mt-2" [key]="'Název'" [value]="data.name"></div>
                <div keyValueItem class="border-bottom mt-2" [key]="'Identifikátor'" [value]="data.id"></div>
                <div keyValueItem class="border-bottom mt-2" [key]="'Vytvořen'" [value]="data.createdAt.toLocaleString()"></div>
                <div keyValueItem class="border-bottom mt-2" [key]="'Vlastník'" [value]="data.owner.fullUsername"></div>
                <div keyValueItem class="border-bottom mt-2" [key]="'Úroveň vylepšení'" [value]="'Level ' + data.premiumTier"></div>
                <div keyValueItem class="border-bottom mt-2" [key]="'Univerzální pozvánka'" [value]="data.vanityUrl ?? 'Neexistuje'"></div>
                <div keyValueItem class="mt-2" [key]="'Booster role'" [value]="data.boosterRole?.name ?? 'Neexistuje'"></div>
            </app-card>
        </div>

        <div class="col">
            <app-card icon="fas fa-server" [title]="'Informace o serveru'">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <p class="fw-bold mb-0">Omezení serveru</p>
                        </div>

                        <div class="grid">
                            <div keyValueItem [key]="'Max. členů'" [value]="data.maxMembers?.toLocaleString() ?? 'Neznámé'"></div>
                            <div keyValueItem [key]="'Max. online uživatelů'" [value]="data.maxPresences?.toLocaleString() ?? 'Neznámé'">
                            </div>
                            <div keyValueItem [key]="'Maxi. uživatelů s webkamerou'"
                                [value]="data.maxVideoChannelUsers?.toLocaleString() ?? 'Není známo'"></div>
                            <div keyValueItem [key]="'Max. bitrate'" [value]="data.maxBitrate + ' kbps'"></div>
                            <div keyValueItem [key]="'Max. velikost souboru'" [value]="data.maxUploadLimit + ' MB'"></div>
                        </div>

                        <ng-container *ngIf="data.userStatusReport">
                            <div class="row mt-2 border-top">
                                <p class="fw-bold mb-0">Statistiky uživatelů</p>
                            </div>

                            <div class="grid">
                                <div keyValueItem [key]="'Online'" [value]="data.userStatusReport.online.toLocaleString()"></div>
                                <div keyValueItem [key]="'Neaktivní'" [value]="data.userStatusReport.idle.toLocaleString()"></div>
                                <div keyValueItem [key]="'Nerušit'" [value]="data.userStatusReport.doNotDisturb.toLocaleString()"></div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="data.clientTypeReport">
                            <div class="row mt-2 border-top">
                                <p class="fw-bold mb-0">Statistiky aktivních zařízení</p>
                            </div>

                            <div class="grid">
                                <div keyValueItem [key]="'Desktop'" [value]="data.clientTypeReport.desktop.toLocaleString()"></div>
                                <div keyValueItem [key]="'Telefon'" [value]="data.clientTypeReport.mobile.toLocaleString()"></div>
                                <div keyValueItem [key]="'Web'" [value]="data.clientTypeReport.web.toLocaleString()"></div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="data.databaseReport">
                            <div class="row mt-2 border-top">
                                <p class="fw-bold mb-0">Statistiky databáze</p>
                            </div>

                            <div class="grid">
                                <div keyValueItem [key]="'Logy'" [value]="data.databaseReport.auditLogs.toLocaleString()"></div>
                                <div keyValueItem [key]="'Kanály'" [value]="data.databaseReport.channels.toLocaleString()"></div>
                                <div keyValueItem [key]="'Pozvánky'" [value]="data.databaseReport.invites.toLocaleString()"></div>
                                <div keyValueItem [key]="'Hledání'" [value]="data.databaseReport.searches.toLocaleString()"></div>
                                <div keyValueItem [key]="'Unverify'" [value]="data.databaseReport.unverifies.toLocaleString()"></div>
                                <div keyValueItem [key]="'Unverify logy'" [value]="data.databaseReport.unverifyLogs.toLocaleString()"></div>
                                <div keyValueItem [key]="'Uživatelé'" [value]="data.databaseReport.users.toLocaleString()"></div>
                                <div keyValueItem [key]="'Cache zpráv'" [value]="data.databaseReport.cacheIndexes.toLocaleString()"></div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </app-card>

            <div class="mt-3">
                <app-card icon="fas fa-cogs" [title]="'Nastavení'">
                    <form [formGroup]="form" (ngSubmit)="submitSettings()">
                        <div class="row">
                            <div class="col form-group">
                                <label>
                                    Umlčující role
                                    <i class="fas fa-info-circle"
                                        title="Role, která zablokuje přístup do veřejných kanálů, znemožní psaní, ..."></i>
                                </label>
                                <app-search-input [searchSource]="'roles'" [guildId]="data.id" formControlName="mutedRole">
                                </app-search-input>
                            </div>

                            <div class="col form-group">
                                <label>Administrátorský kanál</label>
                                <app-search-input [searchSource]="'channels-no-threads'" [guildId]="data.id" formControlName="adminChannel">
                                </app-search-input>
                            </div>

                            <div class="col form-group">
                                <label>Kanál pro návrhy emotů</label>
                                <app-search-input [searchSource]="'channels-no-threads'" [guildId]="data.id"
                                    formControlName="emoteSuggestionChannel"></app-search-input>
                            </div>

                            <div class="col form-group">
                                <label>Kanál pro veřejná hlasování</label>
                                <app-search-input [searchSource]="'channels-no-threads'" [guildId]="data.id" formControlName="voteChannel">
                                </app-search-input>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col d-flex align-items-end justify-content-end">
                                <button class="btn btn-success" type="submit">Uložit změny</button>
                            </div>
                        </div>
                    </form>
                </app-card>
            </div>
        </div>
    </div>
</ng-container>
