<app-modal [title]="'Graf bodů za jednotlivé dny'">
    <ng-container *ngIf="canShowMessagePoints">
        <h5>Zprávy</h5>
        <app-line-chart [data]="messagePoints"></app-line-chart>
    </ng-container>

    <ng-container *ngIf="canShowReactionPoints">
        <h5>Reakce</h5>
        <app-line-chart [data]="reactionPoints"></app-line-chart>
    </ng-container>

    <ng-container *ngIf="canShowMessagePoints || canShowReactionPoints">
        <h5>Celkem</h5>
        <app-line-chart [data]="totalPoints"></app-line-chart>
    </ng-container>
</app-modal>
