<app-card [title]="(useInteractions ? 'Integrované' : 'Textové') + ' příkazy'" [icon]="'fas fa-terminal'" [allowHideButton]="true">
    <app-loading *ngIf="!data"></app-loading>

    <ng-container *ngIf="data">
        <form class="mb-1" [formGroup]="form">
            <div class="form-group">
                <label>Vyhledávání</label>
                <input type="text" class="form-control form-control-sm" formControlName="searchQuery" />
            </div>
        </form>

        <table class="table table-sm table-bordered table-striped auto-column-width">
            <thead>
                <tr>
                    <th>Příkaz</th>
                    <th>Poslední volání</th>
                    <th>Počet úspěšných</th>
                    <th>Počet chybných</th>
                    <th>Úspěšnost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>{{item.command}}</td>
                    <td>{{item.lastCall.toLocaleString()}}</td>
                    <td>{{item.successCount}}</td>
                    <td>{{item.failedCount}}</td>
                    <td>{{item.successRate}} %</td>
                </tr>
                <tr *ngIf="data.length === 0">
                    <td colspan="5">Ještě nebyl zavolán žádný příkaz.</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</app-card>
