<app-card [title]="'Vyhledávání'" [icon]="'fas fa-search'" [size]="'lg'" [allowHideButton]="true">
    <form [formGroup]="form">
        <div class="row">
            <div class="col form-group">
                <label>Server</label>
                <app-search-input [searchSource]="'guilds'" formControlName="guildId"></app-search-input>
            </div>

            <div class="col form-group">
                <label>Počet použití od</label>
                <input type="number" min="0" formControlName="useCountFrom" class="form-control" />
            </div>

            <div class="col form-group">
                <label>Počet použití do</label>
                <input type="number" min="0" formControlName="useCountTo" class="form-control" />
            </div>

            <div class="col form-group">
                <label>První výskyt od</label>
                <input type="datetime-local" formControlName="firstOccurenceFrom" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col form-group">
                <label>První výskyt do</label>
                <input type="datetime-local" formControlName="firstOccurenceTo" class="form-control" />
            </div>

            <div class="col form-group">
                <label>Poslední výskyt od</label>
                <input type="datetime-local" formControlName="lastOccurenceFrom" class="form-control" />
            </div>

            <div class="col form-group">
                <label>Poslední výskyt do</label>
                <input type="datetime-local" formControlName="lastOccurenceTo" class="form-control" />
            </div>

            <div class="col d-flex justify-content-end align-items-end">
                <button class="btn btn-link me-2" type="button" (click)="submitForm()">Obnovit</button>
                <button class="btn btn-danger" (click)="cleanFilter()">Smazat filtr</button>
            </div>
        </div>
    </form>
</app-card>
