<app-card [header]="false">
    <p class="fw-bold">Dnešní statistiky</p>

    <app-loading *ngIf="loading; else view"></app-loading>
    <ng-template #view>
        <span class="text-danger" *ngIf="!data.todayAvgTimes">
            <i class="fas fa-exclamation-triangle me-1"></i> Nezdařilo se načíst dnešní statistiky.
        </span>

        <ng-container *ngIf="data.todayAvgTimes">
            <div *ngFor="let item of data.todayAvgTimes" class="d-flex justify-content-between border-bottom"
                [class.text-warning]="item.value >= 1000">
                <b>{{translateKey(item.key)}}</b>
                <span>{{item.value | timeDuration}}</span>
            </div>
        </ng-container>
    </ng-template>
</app-card>
